<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <label>Genres : </label>
        <select class="form-control form-control-lg" id="id" name="id"
        [(ngModel)]="id" (change)="onChange()">
        <option *ngFor="let cat of genres" value="{{cat.idLeg}}">
        {{cat.nomGenre}}
        
         </option>
        </select>
        </div>

<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom-Game</th> <th>Date Match</th><th>Legue</th> </tr>
    <tbody *ngFor="let game of game">
    <tr >
    <td>{{game.idGame}}</td>
    <td>{{game.nomGame}}</td>
    
    <td>{{game.dateFound | date:'dd/MM/yyyy'}}</td>
    <td>{{game.genre.nomGenre}}</td>
    <td><a class="btn btn-danger" *ngIf="authService.isAdmin()">Supprimer</a></td>
    <td><a class="btn btn-success" *ngIf="authService.isAdmin()" [routerLink]="['/update-game',game.idGame]">Modifier</a></td>
    </tr>
    </tbody>
    
    </table>
    </div>
    </div>
    </div>
   