<!DOCTYPE html>
<html>

<head>
    <title>Unauthorized Access</title>
    <style>
        body {
            background-color: #f0f0f0;
            font-family: Arial, sans-serif;
        }

        .alert {
            background-color: #dc3545;
            color: #fff;
            border: 1px solid #b21f2d;
            border-radius: 4px;
            padding: 10px;
            max-width: 400px;
            margin: 20px auto;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        strong {
            font-weight: bold;
        }
    </style>
</head>

<body>
<div class="alert">
    <strong>Vous n’êtes pas autorisé...</strong>
</div>
</body>

</html>
